.theia
private/scope-manager
!private/scope-manager/scopes.json.example
public/database/backups/*
public/renders/tpa/*
!public/renders/tpa/showcase.json
!public/renders/tpa/template.json
!public/renders/tpa/default.html
!public/renders/tpa/default.js
!public/renders/tpa/tpa.css
public/director/*
!public/director/notification-config.json
!public/director/notificationScriptSimpl.js
!public/director/notificationSimulation.js
!public/director/adminEmailNotification.js
!public/director/template.json
!public/director/template.js
!public/director/check-status.js
!public/director/generate_from_template.js
!public/director/tasks/examples
!public/director/tasks/utils
!public/director/tasks/system
public/logs